<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>여기는 로또 검증 페이지 입니다.</h1>
    <!--라우터에서 변수 가져오는 방법-->
    <h1>추천 번호: {{pick}}</h1>
    <h1>당첨 번호: {{week_num}}</h1>
    <h1>당첨 번호: {{week_format_num}}</h1>
    <h1>맞은 개수 {{t}}개 입니다.</h1>
    <h1>틀린 개수 {{f}}개 입니다.</h1>
    <h1>등수: {{j}}</h1>
</body>
</html>